@inject IHttpContextAccessor HttpContextAccessor
@{
    Guid employeeId = @Guid.Parse(HttpContextAccessor.HttpContext.Session.GetString("employeeId"));
}
@{
    ViewData["Title"] = "EmployeeDebits";
    Layout = "~/Views/Shared/Employeer/_EmployeerDetailsLayout.cshtml";
}

@section header {
    <h3>Onur Çekiç</h3>
}

@section tabs {
    <div class="tabs">
        <a asp-action="EditEmployee" asp-controller="Manager" asp-route-id="@employeeId">Genel</a>
        <a asp-action="EmployeeRequests" asp-controller="Manager" asp-route-id="@employeeId">Talepler</a>
        <a asp-action="EmployeeDebits" asp-controller="Manager" asp-route-id="@employeeId">Zimmetler</a>
        <a asp-action="EmployeeBonuses" asp-controller="Manager" asp-route-id="@employeeId">Primler</a>
        <a asp-action="EmployeeFiles" asp-controller="Manager" asp-route-id="@employeeId">Dosyalar</a>
        <a asp-action="EmployeeShiftBreak" asp-controller="Manager" asp-route-id="@employeeId">Vardiya ve Molalar</a>
    </div>
}

@section functionality {
    <!-- Search Bar -->
    <input type="text" class="square-input square-input-md" placeholder="Arama">

    <div class="d-flex radio-group">
        <button class="btn btn-primary ml-2" onclick="openModal('debitModal')">Zimmet Ekle</button>
    </div>
}
<input type="hidden" id="employeeId" value="@employeeId" />

<div>
    <table class="table table-striped width-100">
        <thead>
            <tr>
                <th>Kategori</th>
                <th>Id</th>
                <th>Veriliş Tarihi</th>
                <th>Açıklama</th>
                <th></th>
            </tr>
        </thead>

        <tbody id="debitTable">

        </tbody>
    </table>
</div>

@section modal {
    <!-- Modal -->
    <div class="crud-modal" id="debitModal">
        <div class="modal-inside">
            <div class="d-flex jc-between ai-center mb-3">
                <h4>Zimmet Ekle</h4>
                <span class="btnCloseModal" onclick="closeModal('debitModal')">&times;</span>
            </div>

            <div class="modal-content">
                <!-- Put What u Want -->
                <form id="managerAddDebitForm">
                    <div class="my-3 d-flex">
                        <div>
                            <label for="serialnumber" class="square-input-label">Title</label>
                            <input type="text" class="square-input" id="title" name="title">
                        </div>
                    </div>

                    <div class="my-4 d-flex">
                        <div class="mr-1">
                            <label for="givenDate" class="square-input-label">Veriliş Tarihi</label>
                            <input type="datetime-local" class="square-input" id="givenDate" name="givenDate">
                        </div>
                    </div>

                    <div class="mt-4 mb-1">
                        <label for="description" class="square-input-label">Açıklama</label>
                        <textarea name="description" id="description" cols="50" rows="10" class="square-input"></textarea>
                    </div>
                    <div class="my-1">
                        <button href="#" id="saveDebit" class="btn btn-primary ml-auto">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "http://localhost:12430/api/Debit/GetDebitsByEmployeeId/" + $("#employeeId").val(),
                type: "GET",
                success: function (response) {
                    console.log(response);
                    response.map((item) => {
                        $("#debitTable").append(`<tr>
                                                <td>${item.title}</td>
                                                <td>${item.debitID}</td>
                                                <td>${item.createdDate}</td>
                                                <td>${item.content}</td>
                                                <td>
                                                    <button class="btn btn-danger mx-auto">Sil</button>
                                                    <br>
                                                    <button class="btn btn-warning mx-auto"
                                                            onclick="openModal('debitModal')">
                                                        Güncelle
                                                    </button>
                                                </td>
                                            </tr>`)
                    })
                }
            })
        })

        $("#saveDebit").click(function () {
            var debit = {
                userId: $("#employeeId").val(),
                title: $("#title").val(),
                content: $("#description").val(),
                createdDate: $("#givenDate").val()
            };
            $.ajax({
                url: "http://localhost:12430/api/Debit/Create",
                type: "POST",
                data: JSON.stringify(debit),
                contentType: 'application/json;charset=utf-8',
                success: function (response) {
                    console.log(response);
                }
            })
        })

    </script>
}

