@inject IHttpContextAccessor HttpContextAccessor
@{
    Guid employeeId = @Guid.Parse(HttpContextAccessor.HttpContext.Session.GetString("employeeId"));
}
@{
    ViewData["Title"] = "EmployeeShiftBreak";
    Layout = "~/Views/Shared/Employeer/_EmployeerDetailsLayout.cshtml";
}

@section header{
    <h3>Onur Çekiç</h3>
}

@section tabs{
    <div class="tabs">
        <a asp-action="EditEmployee" asp-controller="Manager" asp-route-id="@employeeId">Genel</a>
        <a asp-action="EmployeeRequests" asp-controller="Manager" asp-route-id="@employeeId">Talepler</a>
        <a asp-action="EmployeeDebits" asp-controller="Manager" asp-route-id="@employeeId">Zimmetler</a>
        <a asp-action="EmployeeBonuses" asp-controller="Manager" asp-route-id="@employeeId">Primler</a>
        <a asp-action="EmployeeFiles" asp-controller="Manager" asp-route-id="@employeeId">Dosyalar</a>
        <a asp-action="EmployeeShiftBreak" asp-controller="Manager" asp-route-id="@employeeId">Vardiya ve Molalar</a>
    </div>
}

<div>
    <table class="table table-striped width-100">
        <thead>
            <tr>
                <th>Tip</th>
                <th>Adı</th>
                <th>Başlangıç Saati</th>
                <th>Bitiş Saati</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Vardiya</td>
                <td>Tam Gün</td>
                <td>09:00</td>
                <td>17:00</td>
                <td>
                    <button class="btn btn-danger mx-auto">Sil</button>
                </td>
            </tr>

            <tr>
                <td>Mola</td>
                <td>Öğlen Molası</td>
                <td>12:30</td>
                <td>13:30</td>
                <td>
                    <button class="btn btn-danger mx-auto">Sil</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>

