@inject IHttpContextAccessor HttpContextAccessor
@{
    Guid employeeId = @Guid.Parse(HttpContextAccessor.HttpContext.Session.GetString("employeeId"));
}
@{
    ViewData["Title"] = "EmployeeRequests";
    Layout = "~/Views/Shared/Employeer/_EmployeerDetailsLayout.cshtml";
}

@section header{
    <h3>Onur Çekiç</h3>
}

@section tabs{
    <div class="tabs">
        <a asp-action="EditEmployee" asp-controller="Manager" asp-route-id="@employeeId">Genel</a>
        <a asp-action="EmployeeRequests" asp-controller="Manager" asp-route-id="@employeeId">Talepler</a>
        <a asp-action="EmployeeDebits" asp-controller="Manager" asp-route-id="@employeeId">Zimmetler</a>
        <a asp-action="EmployeeBonuses" asp-controller="Manager" asp-route-id="@employeeId">Primler</a>
        <a asp-action="EmployeeFiles" asp-controller="Manager" asp-route-id="@employeeId">Dosyalar</a>
        <a asp-action="EmployeeShiftBreak" asp-controller="Manager" asp-route-id="@employeeId">Vardiya ve Molalar</a>
    </div>
}


@section functionality{
    <!-- Search Bar -->
    <input type="text" class="square-input square-input-md" placeholder="Arama">
}

<div>
    <table class="table table-striped width-100">
        <thead>
            <tr>
                <th>Kategori</th>
                <th>İhtiyaç</th>
                <th>Talep Tarihi</th>
                <th>Açıklama</th>
                <th> </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Zimmet</td>
                <td>Bilgisayar</td>
                <td>28 Eylül 2021</td>
                <td>Ekstra bellek gerekli</td>
                <td>
                    <button class="btn btn-danger mx-auto" onclick="openModal('approveModal')">Reddet</button>
                    <br>
                    <button class="btn btn-success mx-auto">Onayla</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section modal{
    <div class="crud-modal" id="approveModal">
        <div class="modal-inside">
            <div class="d-flex jc-between ai-center mb-3">
                <h4>Zimmet Ekle</h4>
                <span class="btnCloseModal" onclick="closeModal('approveModal')">&times;</span>
            </div>

            <div class="modal-content">
                <!-- Put What u Want -->
                <form id="managerRequestDenieForm">
                    <div class="mt-3 mb-1">
                        <label for="description" class="square-input-label">Açıklama</label>
                        <textarea name="description" id="description" cols="50" rows="10"
                                  class="square-input"></textarea>
                    </div>
                    <div class="my-1">
                        <button href="#" class="btn btn-danger ml-auto">Reddet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section scripts{ 
<script>
    $(document).ready(function () {
        $.ajax({
            url: "",
            type: "GET",
            success: function (response) {

            }
        })
    })
</script>
}
