@inject IHttpContextAccessor HttpContextAccessor
@{
    Guid employeeId = @Guid.Parse(HttpContextAccessor.HttpContext.Session.GetString("employeeId"));
}
@{
    ViewData["Title"] = "EmployeeFiles";
    Layout = "~/Views/Shared/Employeer/_EmployeerDetailsLayout.cshtml";
}

@section header{
    <h3>Onur Çekiç</h3>
}

@section tabs{
    <div class="tabs">
        <a asp-action="EditEmployee" asp-controller="Manager" asp-route-id="@employeeId">Genel</a>
        <a asp-action="EmployeeRequests" asp-controller="Manager" asp-route-id="@employeeId">Talepler</a>
        <a asp-action="EmployeeDebits" asp-controller="Manager" asp-route-id="@employeeId">Zimmetler</a>
        <a asp-action="EmployeeBonuses" asp-controller="Manager" asp-route-id="@employeeId">Primler</a>
        <a asp-action="EmployeeFiles" asp-controller="Manager" asp-route-id="@employeeId">Dosyalar</a>
        <a asp-action="EmployeeShiftBreak" asp-controller="Manager" asp-route-id="@employeeId">Vardiya ve Molalar</a>
    </div>
}

@section functionality {
    <!-- Search Bar -->
    <input type="text" class="square-input square-input-md" placeholder="Arama">

    <div class="d-flex radio-group">
        <button class="btn btn-primary ml-2" onclick="openModal('debitModal')">Dosya Ekle</button>
    </div>
}

<div>
    <table class="table table-striped width-100">
        <thead>
            <tr>
                <th>Dosya Tipi</th>
                <th>Yüklenme Tarihi</th>
                <th>Açıklama</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Sicil Kaydı</td>
                <td>28 Eylül 2021</td>
                <td>-------------</td>
                <td>
                    <button class="btn btn-danger mx-auto">Sil</button>
                    <br>
                    <button class="btn btn-warning mx-auto" onclick="openModal('debitModal')">Güncelle</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section modal {
    <div class="crud-modal" id="debitModal">
        <div class="modal-inside">
            <div class="d-flex jc-between ai-center mb-3">
                <h4>Zimmet Ekle</h4>
                <span class="btnCloseModal" onclick="closeModal('debitModal')">&times;</span>
            </div>

            <div class="modal-content">
                <!-- Put What u Want -->
                <form id="managerAddFileForm">
                    <div class="my-3 d-flex">
                        <div class="mr-1">
                            <label for="fileType" class="square-input-label">Kategori</label>
                            <select name="fileType" id="fileType" class="square-input">
                                <option value="">Bir dosya türü seçiniz.</option>
                                <option value="1">Askerlik Tecil Belgesi</option>
                                <option value="2">Sağlık Raporu</option>
                                <option value="3">Sicil Raporu</option>
                                <option value="4">Transkript</option>
                            </select>
                        </div>
                    </div>

                    <div class="my-4 d-flex">
                        <div>
                            <label for="currentFile" class="square-input-label">Yüklenecek Dosya</label>
                            <input type="file" class="square-input" name="currentFile" id="currentFile">
                        </div>
                    </div>

                    <div class="my-4 mb-1">
                        <label for="description" class="square-input-label">Açıklama</label>
                        <textarea name="description" id="description" cols="50" rows="10"
                                  class="square-input"></textarea>
                    </div>
                    <div class="my-1">
                        <button href="#" class="btn btn-primary ml-auto">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

