@inject IHttpContextAccessor HttpContextAccessor
@{
    Guid id = Guid.Parse(HttpContextAccessor.HttpContext.Session.GetString("id"));
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Custom Css -->
    <link rel="stylesheet" href="~/custom/css/utilities.css">
    <link rel="stylesheet" href="~/custom/css/mystyle.css">

    <!-- Fontawesome for İcons -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section class="details-page d-flex">

        <!-- Side Bar -->

        <div>
            <div class="side-bar">
                <div>
                    <img src="/images/kd_logo_white.png" alt="">
                    <h2 class="as-center">KD-34</h2>

                </div>
                <hr>
                <ul>
                    <li><a asp-action="Index" asp-controller="Manager" asp-route-id="@id"><i class="fas fa-home"></i>Ana Sayfa</a></li>
                    <li><a asp-action="Employees" asp-controller="Manager" asp-route-id="@id"><i class="fas fa-users "></i>Çalışanlar</a></li>
                    <li><a asp-action="DayOffs" asp-controller="Manager" asp-route-id="@id"><i class="fas fa-plane "></i>İzinler</a></li>
                    <li><a asp-action="ShiftBreak" asp-controller="Manager" asp-route-id="@id"><i class="fas fa-flag "></i>Vardiya/Mola</a></li>
                    <li><a asp-action="Comment" asp-controller="Manager" asp-route-id="@id"><i class="fas fa-comment"></i>Yorum</a></li>
                    <li><a asp-action="Settings" asp-controller="Manager" asp-route-id="@id"><i class="fas fa-cogs "></i>Ayarlar</a></li>
                </ul>
            </div>
        </div>
        <div class="content">

            <!-- Header -->

            <div class="header">
                @RenderSection("header", false)

                <input type="checkbox" name="" id="dropdown-toggle" class="dropdown-toggle">
                <div class="dropdown-task">
                    <ul>
                        <li><a asp-action="Index" asp-controller="Manager" asp-route-id="@id"><i class="fas fa-home"></i>Ana Sayfa</a></li>
                        <li><a asp-action="Employees" asp-controller="Manager" asp-route-id="@id"><i class="fas fa-users "></i>Çalışanlar</a></li>
                        <li><a asp-action="DayOffs" asp-controller="Manager" asp-route-id="@id"><i class="fas fa-plane "></i>İzinler</a></li>
                        <li><a asp-action="ShiftBreak" asp-controller="Manager" asp-route-id="@id"><i class="fas fa-flag "></i>Vardiya/Mola</a></li>
                        <li><a asp-action="Comment" asp-controller="Manager" asp-route-id="@id"><i class="fas fa-comment"></i>Yorum</a></li>
                        <li><a asp-action="Settings" asp-controller="Manager" asp-route-id="@id"><i class="fas fa-cogs "></i>Ayarlar</a></li>
                    </ul>
                </div>
                <label for="dropdown-toggle" class="dropdown-toggle-label">
                    <span><i class="fas fa-plus fa-2x as-center"></i></span>
                </label>
            </div>

            <!-- Tabs -->

            @RenderSection("tabs", false)
            <hr />

            <!-- Content Body -->

            <div class="py-4">
                <div class="func-list-page mb-2">
                    @RenderSection("functionality", false)
                </div>

                @RenderBody()

            </div>
        </div>
    </section>


    @RenderSection("modal", false)

    <!-- Scripts -->
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/custom/js/validation.js"></script>
    <script src="~/custom/js/app.js"></script>

</body>
</html>

@RenderSection("scripts", false)
